//variables

$black: #454545;
$grey: #b6b6b6;
$lightgrey: #bfbfbf;
$white: #fff;


//main settings

a, button {
  cursor: pointer;
}

button {
  outline: transparent;
  border: none;
}